.w3-sidebar{
    background: #191919 !important;
}
.w3-sidebar h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}
.w3-sidebar .w3-button{
    background: #000 !important;
    width: 50% !important;
    color: #fff !important;
    text-decoration: none;
    margin: 10px 0px 10px 40px;
    border-radius: 10px;
    /* top, right, bottom, left */
}
.w3-sidebar .w3-button:hover{
    background: #000 !important;
    width: 50%;
    color: #fff !important;
    text-decoration: none;
    border-radius: 10px;
}




/* setting_container */
.setting_container{
    padding: 50px 0px;
}
.setting_container h1{
    font-size: 20px;
}
.setting_container .link{
    text-decoration: none;
    margin: 10px 0px;
    color: #000;
}
.setting_container .content{
    text-transform: capitalize;
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
}
