.w3-sidebar{
    background: #191919 !important;
}
.w3-sidebar h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}
.w3-sidebar .w3-button{
    background: #000 !important;
    width: 90% !important;
    height: 50px !important;
    color: #fff !important;
    padding-top:15px !important; 
    text-decoration: none;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
    /* top, right, bottom, left */
}
.w3-sidebar .w3-button .icon{
    font-size: 20px;
}
.w3-sidebar .w3-button span{
    padding-left: 10px;
}
.w3-sidebar .w3-button:hover{
    background: #000 !important;
    width: 90%;
    color: #fff !important;
    text-decoration: none;
    border-radius: 10px;
}



/* top navigation */
.navbar-nav .bell_help{
    margin-left: 400px !important;
    display: inline-flex;
}
.navbar-nav .bell_help .icon{
    font-size: 20px;
    color: #000;
}
.navbar-nav .time_format{
    margin-left: 200px !important;
    display: inline-flex;
}
.navbar-nav .time_format li{
    margin-right:10px !important;
}

/* setting_container */
.setting_container{
    padding: 50px 0px;
}
.setting_container h1{
    font-size: 20px;
}
.setting_container .link{
    text-decoration: none;
    margin: 10px 0px;
    color: #000;
}
.setting_container .content{
    text-transform: capitalize;
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
}
